$base-unit: 10px;

$color-white: #fff;
$color-gray: #fafafa;
$color-black: #000;

$color-light-blue: #9FC9F0;
$color-blue: #3498db;
$color-dark-blue: #12467E;

$color-red: #e74c3c;

$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);